{% extends 'web_common.html' %}
{% block theme_body %}
{% load static %}


<!-- home slider section start-->
<div class="">
    <section class="p-0 full-slider shadow-home">
        <div class="slide-1 home-slider home-70">
            <div>
                <div class="home p-left">
                    <img src="{% static 'assets/images/home-banner/20.jpg' %}" class="bg-img " alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h5>all products</h5>
                                        <h1>buy grocery</h1>
                                        <h4>valid till 25 august</h4>
                                        <a href="#" class="btn btn-solid">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="home text-left p-left">
                    <img src="{% static 'assets/images/home-banner/19.jpg' %}" class="bg-img " alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h5>all products</h5>
                                        <h1>buy grocery</h1>
                                        <h4>valid till 25 august</h4>
                                        <a href="#" class="btn btn-solid">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- home slider section end-->

<!-- collection banner start -->
<section class="ratio2_1 section-b-space">
    <div class="container">
        <div class="row partition-3">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner border-0 p-center text-center">
                        <div class="img-part">
                            <img src="{% static 'assets/images/grocery/banner/4.jpg' %}" class=" img-fluid  bg-img" alt="">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <div class="banner-deal">
                                    <h6>free shipping</h6>
                                </div>
                                <h3>nikon camera</h3>
                                <h6>shop now</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner border-0 p-center text-center">
                        <div class="img-part">
                            <img src="{% static 'assets/images/grocery/banner/5.jpg' %}" class=" img-fluid bg-img" alt="">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <div class="banner-deal">
                                    <h6>minimum 30% off</h6>
                                </div>
                                <h3>kids fashion</h3>
                                <h6>shop now</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->
<!-- Product slider section start -->
<section class="slider-section slider-layout-4 no-border-product">
    <div class="container">
        <div class="title-basic">
            <h2 class="title">Mens</h2>
        </div>
        <div class="row">
            <div class="col-xl-12 p-0 ratio_asos">
                <div class="slider-6 no-arrow">
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/1.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/2.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/8.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/4.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/5.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/7.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-box">
                            <div class="img-block">
                                <a href="#"><img src="{% static 'assets/images/fashion/pro/3.jpg' %}" class=" img-fluid bg-img" alt=""></a>
                                <div class="cart-info">
                                    <button tabindex="0" class="addcart-box" title="Quick shop"><i class="ti-shopping-cart" ></i></button>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view"  title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="product-info product-content">
                                <a href="#"><h6>richard mcClintock</h6></a>
                                <h5>$963.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider section end -->


<!-- subscribe modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal newsletter-popup" id="subscribe_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="offer-content">
                                    <h2>good thing</h2>
                                    <h4>come to those who sign up for our newsleeter</h4>
                                    <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                        <div class="form-group mx-sm-3">
                                            <input type="text" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" required="required">
                                            <button type="submit" class="btn btn-solid" id="mc-submit">subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe modal popup end-->

{% endblock %}
