
        {% extends 'log-reg-base.html' %}
        {% block admin_log_reg %}
<!--        {% load static %}-->
            <div class="login-form-wrapper mrgn-b-lg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-5 center-block">
                            <div class="prtm-form-block prtm-full-block overflow-wrappper">
                                <div class="login-bar"> <img src="{% static 'assets/img/login-bars.png' %} " class="img-responsive" alt="login bar" width="743" height="7"> </div>
                                <div class="prtm-block-title text-center">
                                    <div class="mrgn-b-lg">
                                        <a href="javascript:;">
                                            <!-- <img src="{% static 'assets/img/prtm-logo.png' %} " alt="login logo" class="img-responsive display-ib" width="218" height="23"> -->
                                            <h1>AD Mart</h1>
                                        </a>
                                    </div>
                                    <div class="login-top mrgn-b-lg">
                                        <div class="mrgn-b-md">
                                            <h2 class="text-capitalize base-dark font-2x fw-normal">Register</h2> </div>
                                        <p>Please enter your Registartion information</p>
                                    </div>
                                </div>
                                <div class="prtm-block-content">
                                    <form class="login-form" action="" method="post">
                                        {% csrf_token %}
<!--                                        <div>-->
<!--                                            {{ form.as_p }}-->
<!--                                        </div>-->

                                        <div class="form-group has-feedback">
<!--                                            <input class="form-control" type="text" placeholder="First Name" required>-->
                                            {{ form.username }}
                                            <span class="glyphicon glyphicon-user form-control-feedback fa-lg" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group has-feedback">
<!--                                            <input class="form-control" id="" type="text" placeholder="Last Name" required>-->
                                            {{ form.email }}
                                            <span class="glyphicon glyphicon-envelope form-control-feedback fa-lg" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group has-feedback">
<!--                                            <input class="form-control" id="" type="email" placeholder="example@mail.com" required>-->
                                            {{ form.password1 }}
                                            <span class="glyphicon glyphicon-lock form-control-feedback fa-lg" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group has-feedback">
<!--                                            <input class="form-control" id="" type="password" placeholder="Enter Password" required>-->
                                            {{ form.password2 }}
                                            <span class="glyphicon glyphicon-lock form-control-feedback fa-lg" aria-hidden="true"></span>
                                        </div>
                                        <p>{{form.errors}}</p>
                                        <div class="mrgn-b-lg">
                                            <input type="submit" name="admin_register_btn" class="btn btn-success btn-block font-2x" value="Sign Up">
                                        </div>
                                        <div class="text-center">
                                            <h5 class="base-dark">Have an account?
                                            <a href="{% url 'admin_login' %}" class="text-primary">Login</a>
                                            </h5>
                                        </div>
                                        <!-- <div class="text-center"> <a class="back-home-btn" href="#"><i class="fa fa-long-arrow-left mrgn-r-xs"></i>Back To Home</a> </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
