.pt-30{
   padding-top: 30px; 
}

.adswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.adswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.adslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.adslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.adswitch input:checked + .adslider {
  background-color: #2196F3;
}

.adswitch input:focus + .adslider {
  box-shadow: 0 0 1px #2196F3;
}

.adswitch input:checked + .adslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.adslider.round {
  border-radius: 34px;
}

.adslider.round:before {
  border-radius: 50%;
}
.block_element{
    display:block ;
}
.mb_5{
    margin-bottom:5px;
}
.meassage_body{
        position: fixed;
        top: 10px;
        right: 180px;
        padding: 10px;
        border-radius: 5px;
        z-index: 99999;
    }
    .success_message{
        background: #40d040;
        color: #fff;
    }
    .meassage_body p{
        margin:0
    }